<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="auth-register">

<div class="background-image">
    <img src="/images/auth_photo/bg_reg.jpg" alt="background">
</div>

<div class="auth-container">
    <h2>Реєстрація</h2>

    <!-- Форма реєстрації -->
    <form action="/register" method="POST" class="auth-form">
        <div class="input-wrapper">
            <img src="/images/auth_photo/email_icon.png" alt="Email Icon" class="input-icon">
            <input type="email" id="email" name="email" placeholder="Електронна пошта" required>
        </div>

        <div class="input-wrapper">
            <img src="/images/auth_photo/password_icon.png" alt="Password Icon" class="input-icon">
            <input type="password" id="password" name="password" placeholder="Пароль" required>

            <div class="toggle-password">
                <button type="button" id="toggle-password" class="toggle-password">
                    <img src="/images/auth_photo/eye_closed.png" alt="Toggle Password Visibility">
                </button>
            </div>
        </div>

        <button type="submit">Зареєструватися</button>
    </form>

    <p>Вже маєте акаунт? <a href="/login">Увійдіть тут</a>.</p>
</div>

<script src="/js/script.js"></script>
</body>
</html>
